<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzu.paper.dao.HistoryMapper">
  <resultMap id="BaseResultMap" type="com.hzu.paper.entity.History">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="YHID" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="LWID" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="Brow_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="Title" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, YHID, LWID, Brow_date, Title
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from 历史记录表
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from 历史记录表
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hzu.paper.entity.History">
    insert into 历史记录表 (id, YHID, LWID, 
      Brow_date, Title)
    values (#{id,jdbcType=INTEGER}, #{yhid,jdbcType=VARCHAR}, #{lwid,jdbcType=VARCHAR}, 
      #{browDate,jdbcType=TIMESTAMP}, #{title,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hzu.paper.entity.History">
    insert into 历史记录表
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="yhid != null">
        YHID,
      </if>
      <if test="lwid != null">
        LWID,
      </if>
      <if test="browDate != null">
        Brow_date,
      </if>
      <if test="title != null">
        Title,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="yhid != null">
        #{yhid,jdbcType=VARCHAR},
      </if>
      <if test="lwid != null">
        #{lwid,jdbcType=VARCHAR},
      </if>
      <if test="browDate != null">
        #{browDate,jdbcType=TIMESTAMP},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hzu.paper.entity.History">
    update 历史记录表
    <set>
      <if test="yhid != null">
        YHID = #{yhid,jdbcType=VARCHAR},
      </if>
      <if test="lwid != null">
        LWID = #{lwid,jdbcType=VARCHAR},
      </if>
      <if test="browDate != null">
        Brow_date = #{browDate,jdbcType=TIMESTAMP},
      </if>
      <if test="title != null">
        Title = #{title,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hzu.paper.entity.History">
    update 历史记录表
    set YHID = #{yhid,jdbcType=VARCHAR},
      LWID = #{lwid,jdbcType=VARCHAR},
      Brow_date = #{browDate,jdbcType=TIMESTAMP},
      Title = #{title,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="findHistoryByUserId" parameterType="string" resultMap="BaseResultMap">
    select *
    from 历史记录表
    where YHID = #{userId,jdbcType=VARCHAR}
    ORDER BY Brow_date DESC
  </select>

  <select id="findAllId" parameterType="string" resultType="java.lang.String">
    select id
    from 历史记录表
    where YHID = #{userId,jdbcType=VARCHAR}
  </select>

  <delete id="deleteAll" parameterType="list">
    delete from 历史记录表 where id in
    <foreach collection="list" item="id" open="(" separator="," close=")">
      #{id,jdbcType=VARCHAR}
    </foreach>
  </delete>
</mapper>